.slide-content {
    position: relative;
    height: 77vh;
    width: 77vh;
    img, video, iframe {
        height: 100%;
        height: 65vh;
        margin: 10px;
        object-fit: cover;
    }
    .play {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        box-shadow:
            0 0 0 5px hsla(0, 0%, 80%, 0.479),
            0 0 0 10px hsla(0, 0%, 93%, 0.664),
            0 0 0 15px hsla(0, 0%, 90%, 0.144);
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        img {
            width: 100px;
            height: 100px;
            object-fit: cover;        
        }
    }
}

.cancel {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
}

::ng-deep {
    .cdk-overlay-pane {
        position: relative !important;
    }
}

.conatct {
    min-width: 500px;
    @media (max-width: 992px) {
        min-width: 300px;
    }
}