
.banner-bg {
    height: 50vh !important;
    @media (max-width: 991px) {
        height: 58vh !important;
    }
    @media (max-width: 768px) {
        height: 50vh !important;
    }    
    @media (max-width: 767px) {
        height: 58vh !important;
    }  
}

h1 {
    color: #000000;
    font-weight: 700;
    
    text-align: left;
    line-height: 100px;
}

.terms-and-conditions {
    //height: 200px;
    p {
        font-size: 18px;
        line-height: 28px;
        color: #1d1d1b;
    }
    a {
        color: #00114a;
    }
    h5 {
        font-size: 18px;
        line-height: 28px;
        color: #00114a;
    }
    .btn-read-more {
        width: 155px;
        height: 60px;
        border-radius: 5px;
        filter: drop-shadow(0px 24px 45px rgba(39,39,39,0.08));
        background-color: #001149;
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #ffffff;
        font-weight: 400;
        
    }
}
