<div class="banner-bg mb-lg-5 mb-0" style="background: rgba(255, 255, 255, 0) url('./assets/images/banner.png') center center no-repeat; background-size: cover;"></div>

<div class="container my-lg-5 my-0">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Contact us</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="contact-us-card">
                <div class="contact-us-heading fs-20">List your project</div>
                <div class="contact-us-container py-5 mb-5">
                    <h4 class="text-center">For Real Estate Professionals.</h4>
                    <ul>
                        <li>Land</li>
                        <li>Land Estate</li>
                        <li>Custom Building</li>
                        <li>Display Homes</li>
                        <li>House & Land Packages</li>
                    </ul>
                </div>
                <div class="contact-us-footer" (click)="getInTouch()">Get in touch</div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="contact-us-card">
                <div class="contact-us-heading fs-20">Get access to pre-released H&L</div>
                <div class="contact-us-container py-5 mb-5">
                    <p>For consumers that want to get access to off market House and Land listing, launches and opportunities before the retail market.</p>
                </div>
                <div class="contact-us-footer">Join us</div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>