
.banner-bg {
    height: 30vh !important;
    @media (max-width: 991px) {
        height: 68vh !important;
    }
    @media (max-width: 768px) {
        height: 30vh !important;
    }
    @media (max-width: 767px) {
        height: 68vh !important;
    }  
}

::ng-deep {
    .ngx-slider .ngx-slider-pointer:after {
        background: #bf1993 !important;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: rgb(11 18 73) !important;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #bf1993 !important;
    }

    .mat-slide-toggle-thumb-container {
        top: 1.8px !important;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
        transform: translate3d(24px, 0, 0) !important;
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #ffffff !important;
    }
    .mat-slide-toggle-thumb {
        height: 10px !important;
        width: 10px !important;
    }
}

.searching {
    h6 {
        font-size: 18px;
        color: #333333;
        font-weight: 700;
        
    }

    ul {
        height: 63px;
        margin-right: 15px;
        .list-group-item {
            cursor: pointer;
            padding: 1.5rem 1.25rem !important;
            font-size: 18px;
            letter-spacing: 0px;
            color: #001149;
            font-weight: 400;
            
            @media(max-width: 767px) {
                padding: .5rem .5rem !important;
            }
        }
        .active {
            color: #ffffff;
            background-color: var(--theme-blue);
        }
    }
    .example-list-section {
        ul {
            padding: 0;
            li {
                width: 100%;
                list-style-type: none;
            }
        }
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
        .example-margin {
            margin-right: 15px;
        }
    }
    button {
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 38px;
        color: #ffffff;
        font-weight: 400;
        
        min-height: 61px;
    }
}

.search-result {
    h4 {
        font-size: 26px;
        color: #9b0273;
        font-weight: 700;
        
    }
    h5 {
        font-size: 21px;
        letter-spacing: -1px;
        color: #273790;
        font-weight: 600;
        
    }
    mat-icon {
        img {
            width: 20px;
            height: 20px;
        }
        svg {
            width: 20px;
            height: 20px;
            path {
                fill: var(--theme-blue);
            }
        }
    }
    .map {
        object-fit: cover;
    }

    .browse {
        &:hover {
            box-shadow: 0 0 20px #818080;
        }
    }
    .sort-icon {
        img {
            max-width: 20px;
            max-height: 20px;
            @media(max-width: 991px) {
                max-width: 12px;
                max-height: 12px;
            }
        }
        svg {
            height: 20px;
            width: 24px;
            path {
                fill: var(--theme-blue);
            }
        }
    }
}

ul.list-group {
    @media(max-width: 767px) {
        height: 38px !important;
    }
}

.caruosel-div {
    margin-top: -29px !important;
    svg {
      height: 16px;
      width: 24px;
      path {
        fill: #fff;
      }
    }
}

.desc {
    svg {
      height: 16px;
      width: 24px;
      path {
        fill: var(--purple);
      }
    }
    figure {
        margin-top: -4px;
        svg {
            width: 24px;
            height: 12px;
            path {
                fill: var(--purple);
            }
        }
    }
}