$ripple-diameter: 15em;
$play-button-size: 4em;
$ripple-color: white;
$ripple-hover-color: #447777;
$ripple-hover-transition: 1500ms ease;
$ripple-opacity: 0.3;
$ripple-duration: 5s;
$ripple-count: 3;

@function ripple-animation-delay($duration, $count, $index) {
  $increment: $duration/$count;
  @return $index * $increment;
}
.pb-0{
  padding-bottom: 0 !important;
}
.inner-featured{
  max-width: 1000px;
  margin: 0 auto;
  .bl-line{
    width: 30px;
  }
  .paddingboth{
    padding:0 15px;
  }
}
.ripple-block {
  position: relative;
  width: $ripple-diameter;
  height: $ripple-diameter;
}

.icoWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: $play-button-size;
  color: $ripple-color;
  transition: color $ripple-hover-transition;
   background-color: #ffffff;
   width: 70px;
   height: 70px;
   border-radius: 50%;
}

.ripple {
  position: absolute;
  width: $ripple-diameter;
  height: $ripple-diameter;
  background: rgba($ripple-color, $ripple-opacity);
  border-radius: 50%;
  animation: ripple $ripple-duration ease-in-out infinite;
  transition: background $ripple-hover-transition;

  .ripple-block:hover &,
  .ripple-block:active &,
  .ripple-block:focus & {
    background: rgba($ripple-hover-color, $ripple-opacity);
  }
}

@media (prefers-reduced-motion) {
  .icoWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $play-button-size * 2;
    color: $ripple-color;
  }
  .ripple-block .ripple {
    animation: none;
    display: none;
  }
}

@for $index from 0 through ($ripple-count - 1) {
  $order: $index + 1;
  .ripple-block .ripple-#{$order} {
    animation-delay: ripple-animation-delay($ripple-duration, $ripple-count, $index);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: scale($ripple-diameter);
    opacity: 0;
  }
}

@media (max-width: 991px) {
  .banner-bg {
    height: 150vh;
  }
}
@media (max-width: 768px) {
  .banner-bg {
    height: 90vh;
  }
}
@media (max-width: 767px) {
  .banner-bg {
    height: 150vh;
  }
}

.details {
  margin-top: -50px;
  @media (max-width: 992px) {
    .col-6 {
      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 20px;
      }
    }
  }
  figure {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
    svg {
      width: 30px;
      height: 30px;
      path {
        fill: var(--theme-blue);
      }
    }
  }
}

.hwt {
  width: 100%;
  height: 500px;
  background: #ffffff00 url('../../../assets/images/hwt64@4x.png') center center no-repeat;
  background-size: cover;
  figure {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
    svg {
      width: 70px;
      height: 70px;
      path {
        fill: var(--purple);
      }
    }
  }
}

.lnw {
  width: 100%;
  // height: 500px;
  background: #ffffff00 url('../../../assets/images/lnw@4x.png') center center no-repeat;
  background-size: cover;
}

.brand {
  img {
    height: auto;
    width: 136px;
  }
}

@media (max-width: 767px) {
  h1, .hwt h5 {
    font-size: 26px;
  }
  .hwt p {
    font-size: 12px;
  }
  .hwt {
    height: 800px;
  }
  .details {
    img {
      height: 30px;
    }
    p {
      font-size: 12px;
    }
  }
}

.caruosel-div {
  svg {
    height: 16px;
    width: 24px;
    path {
      fill: #fff;
    }
  }
}
.desc {
  svg {
    height: 16px;
    width: 24px;
    path {
      fill: var(--purple);
    }
  }
}